/* components/ParticlesBackground.module.css */

.fullScreenParticles {
    position: fixed;
    /* Fixed position relative to the viewport */
    top: 0;
    left: 0;
    width: 100vw;
    /* Full viewport width */
    height: 100vh;
    /* Full viewport height */
    background-color: transparent;
    /* Background color for the particles */
    background-image: url("");
    /* Optional background image for particles */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 1;
    /* Ensures it is behind all other content */
}

/* NO .github or related styles here. */